.adjacency-list-container {
    margin: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .table-row {
    background-color: rgba(242, 242, 101, 0.669)
}

  .adjacency-list {
    list-style-type: none;
    padding: 0;
  }
  
  .adjacency-item {
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .adjacency-item:hover {
    background-color: #f9f9f9;
  }
  
  .adjacency-buttons {
    display: flex;
    gap: 10px;
  }
  
  .create-update-adjacency-form {
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .create-update-adjacency-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .create-update-adjacency-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .create-update-adjacency-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .create-update-adjacency-form button:hover {
    background-color: #45a049;
  }
  
  /* Add more styles as needed */
  